<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Refund Email</title>
</head>
<body style="background-color:#F5F8FA;;font-family: sans-serif;margin:0;padding: 0;width: 100%;">
  {{
    var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    var date = new Date(created_at);
    date.setDate(date.getDate() - 1)
    date = date.getDate()+" "+ monthNames[date.getMonth()]+", "+date.getFullYear();
    var order_id = id;
    var customer_name = address[0].firstname;
    var refund_amount = items[0].max_refund;
    var item_id = items[0].id;
    var site_id = 2;
    var payments_info = payments;
    var paymentInfo;
    for (var i = 0; i < payments.length ; i++) {
      if (payments[i].kind == 2) {
        paymentInfo = payments[i];
      }
    }
    var refund_expected_date;
    if (paymentInfo && paymentInfo.transaction_response) {
      refund_expected_date = paymentInfo.transaction_response && Object.keys(JSON.parse(paymentInfo.transaction_response)).length > 0 &&
		  JSON.parse(paymentInfo.transaction_response) && JSON.parse(paymentInfo.transaction_response).userCreditExpectedDate 
			? new Date(JSON.parse(paymentInfo.transaction_response).userCreditExpectedDate) : new Date();
      if (refund_expected_date) {
        refund_expected_date.setDate(refund_expected_date.getDate() - 1);
        refund_expected_date = refund_expected_date.getDate() + " " + monthNames[refund_expected_date.getMonth()] + ", " + refund_expected_date.getFullYear();
      }
    }
    var hasWalletDetails = false;
    var hasBankDetails = false;
    for(var i = 0; i < payments_info.length ; i++) {
      if (payments_info[i].transaction_response && Object.keys(JSON.parse(payments_info[i].transaction_response)).length > 0) {
        var transactionResponse = JSON.parse(payments_info[i].transaction_response);
        var rrn = transactionResponse.refundDetailInfoList ? transactionResponse.refundDetailInfoList[0].rrn : '';
        hasBankDetails = transactionResponse.refundDetailInfoList !== undefined;
      }
      if (payments_info[i].payment_bank == "WALLET") {
        hasWalletDetails = true
      }
    }

		var address_line1 = address[0].address;
		var address_line2 = address[0].address2;
		var city = address[0].city;
		var state = address[0].state;
		var pincode = address[0].pincode;
		var parsedItems = items;
		var cashback = undefined;
		var customer_id = return_data[0].customer_id;
		var numberWithCommas = function(x) {
			return x.toString().replace(/(\d)(?=(\d\d)+\d$)/g, "$1,");
		}
  }}
  <table style="margin:0px; width: 100%;">
    <tr>
      <td style="border-collapse: collapse;" align="center">
        <table
          style="width: 100%;background-color: #fff; margin: 16px;border-collapse: collapse;display: table-cell;border-radius: 4px; min-width: 375px; max-width:400px;">
          <tr style="min-height: 154px; width: 100%;">
            <td>
              <table style="width: 100%;padding: 20px; background-color: #E9F9F2;">
                <tr style="background-color: #E9F9F2;">
                  <td style="width: 50%">
                    <img src="https://d274ft55l0imju.cloudfront.net/hotels_app_img/aj_group_7479.png" alt="RTO"
                      style="height: 154px;" />
                  </td>
                  <td style="width: 50%">
                    <table style="width: 100%; margin-top: 20px;">
                      <tr>
                        <td style="float: right;">
                          <img src="https://assetscdn.paytm.com/paytmmall/mailer2017/paytmmall_logo.png"
                            alt="paytm logo" style="height: 50px;" />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table style="width: 100%;text-align: right; margin-top: 20px;">
                            <tr>
                              <td style="font-size: 12px;font-weight: normal;line-height: 1.42;color: #506d85;">
                                Order Placed On
                                <br />
                                <span style="font-weight: bold;">{{= date }}</span>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table style="width: 100%;text-align: right;">
                            <tr>
                              <td style="font-size: 12px;font-weight: normal;line-height: 1.42;color: #506d85;">Order ID
                                #{{=order_id }}</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="background-color: #F5F8FA;" colspan="2">
              <table style="background-color: #fff; padding: 24px; width: 100%">
                <tr>
                  <td
                    style="font-size: 14px; letter-spacing: 0.2px; font-size: 14px;font-weight: 500;color: #506D85;line-height: 20px;">
                    <div>Dear {{=customer_name}},</div>
                  </td>
                </tr>
                <tr>
                  <td
                    style="padding-top: 8px; font-size: 20px; margin-top: 8px; letter-spacing: 0.4px; font-weight: bold;color:#1D2F54;line-height: 32px;">
                    <div>Order Refunded!</div>
                  </td>
                </tr>

                <tr>
                  <td style="font-size: 16px;
                    line-height: 24px;                  
                    letter-spacing: 0.2px;                  
                    color: #1D2F54;">
                    <div style="margin-bottom: 10px;">Your item has been returned. Refund of ₹<span
                        style="font-weight: bold;">{{= numberWithCommas(refund_amount) }}</span> has been processed to the original
                      payment source.</div>
                  </td>
                </tr>
              </table>

              <table style=" background: #FFFFFF;
                width: 100%;
                border-radius: 4px;
                margin-top: 10px;
                padding: 24px;">
                <tr>
                  <td style="font-family: 'Open Sans', Helvetica, Arial, sans-serif;">
                    <table style="width: 100%;" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td
                          style="line-height: 20px; font-size:14px; color:#1d2f54; font-weight:bold; letter-spacing: 0.2px">
                          Thank you for shopping with us!!</td>
                      </tr>
                      <tr>
                        <td style="font-size:12px; line-height: 20px; color:#506D85;">How likely are you to recommend Paytm Mall to your friends and family based on your refund experience ?</td>
                      </tr>
                    </table>
                    <table style="margin-top: 10px; width: 100%;" border="0" align="left" cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="center" valign="top">
                          <div style="width:30%; float:left; text-align:center;margin-left: 5px;"> <a style="text-decoration:none;width: 28.91px;
                            height: 32px;border-radius:4px;background-color:#FFEFEF;display: inline-block;"
                              href="https://staging.paytmmall.com/shop/nps-feedback?utm_source=order&utm_medium=email&utm_campaign=nps&orderid={{= order_id }}&category=npsFeedback-marketplace&items={{=item_id}}&event_id={{= parsedItems[0].status}}&vertical_id={{=parsedItems[0].vertical_id}}&site_id={{=site_id}}&customer_id={{=customer_id}}&src=email&response=1"><span
                                style="font-size:14px;display:block;text-align:center;color:#FD5154; font-weight: bold; line-height: 2.3;">1</span></a>
                          </div>
                        </td>
                        <td align="center" valign="top">
                          <div style="width:30%; float:left; text-align:center;margin-left: 5px;"> <a style="text-decoration:none;width: 28.91px;
                            height: 32px;border-radius:4px;background-color:#FFEFEF;display: inline-block;"
                              href="https://staging.paytmmall.com/shop/nps-feedback?utm_source=order&utm_medium=email&utm_campaign=nps&orderid={{= order_id }}&category=npsFeedback-marketplace&items={{=item_id}}&event_id={{=parsedItems[0].status}}&vertical_id={{=parsedItems[0].vertical_id}}&site_id={{=site_id}}&customer_id={{=customer_id}}&src=email&response=2"><span
                                style="font-size:14px;display:block;text-align:center;color:#FD5154; font-weight: bold; line-height: 2.3;">2</span></a>
                          </div>
                        </td>
                        <td align="center" valign="top">
                          <div style="width:30%; float:left; text-align:center;margin-left: 5px;"> <a style="text-decoration:none;width: 28.91px;
                            height: 32px;border-radius:4px;background-color:#FFEFEF;display: inline-block;"
                              href="https://staging.paytmmall.com/shop/nps-feedback?utm_source=order&utm_medium=email&utm_campaign=nps&orderid={{= order_id }}&category=npsFeedback-marketplace&items={{= item_id }}&event_id={{=parsedItems[0].status}}&vertical_id={{=parsedItems[0].vertical_id}}&site_id={{=site_id}}&customer_id={{=customer_id}}&src=email&response=3"><span
                                style="font-size:14px;display:block;text-align:center;color:#FD5154; font-weight: bold; line-height: 2.3;">3</span></a>
                          </div>
                        </td>
                        <td align="center" valign="top">
                          <div style="width:30%; float:left; text-align:center;margin-left: 5px;"> <a style="text-decoration:none;width: 28.91px;
                            height: 32px;border-radius:4px;background-color:#FFEFEF;display: inline-block;"
                              href="https://staging.paytmmall.com/shop/nps-feedback?utm_source=order&utm_medium=email&utm_campaign=nps&orderid={{= order_id }}&category=npsFeedback-marketplace&items={{= item_id }}&event_id={{=parsedItems[0].status}}&vertical_id={{=parsedItems[0].vertical_id}}&site_id={{=site_id}}&customer_id={{=customer_id}}&src=email&response=4"><span
                                style="font-size:14px;display:block;text-align:center;color:#FD5154; font-weight: bold; line-height: 2.3;">4</span></a>
                          </div>
                        </td>
                        <td align="center" valign="top">
                          <div style="width:30%; float:left; text-align:center;margin-left: 5px;"> <a style="text-decoration:none;width: 28.91px;
                            height: 32px;border-radius:4px;background-color:#FFEFEF;display: inline-block;"
                              href="https://staging.paytmmall.com/shop/nps-feedback?utm_source=order&utm_medium=email&utm_campaign=nps&orderid={{= order_id }}&category=npsFeedback-marketplace&items={{= item_id }}&event_id={{=parsedItems[0].status}}&vertical_id={{=parsedItems[0].vertical_id}}&site_id={{=site_id}}&customer_id={{=customer_id}}&src=email&response=5"><span
                                style="font-size:14px;display:block;text-align:center;color:#FD5154; font-weight: bold; line-height: 2.3;">5</span></a>
                          </div>
                        </td>
                        <td align="center" valign="top">
                          <div style="width:30%; float:left; text-align:center;margin-left: 5px;"> <a style="text-decoration:none;width: 28.91px;
                            height: 32px;background: #FFEFEF;border-radius: 4px;display: inline-block;"
                              href="https://staging.paytmmall.com/shop/nps-feedback?utm_source=order&utm_medium=email&utm_campaign=nps&orderid={{= order_id }}&category=npsFeedback-marketplace&items={{= item_id }}&event_id={{=parsedItems[0].status}}&vertical_id={{=parsedItems[0].vertical_id}}&site_id={{=site_id}}&customer_id={{=customer_id}}&src=email&response=6"><span
                                style="font-size:14px;display:block;text-align:center;color:#FD5154; font-weight: bold; line-height: 2.3;">6</span></a>
                          </div>
                        </td>
                        <td align="center" valign="top">
                          <div style="width:30%; float:left; text-align:center;margin-left: 5px;"> <a style="text-decoration:none;width: 28.91px;
                            height: 32px;background: #FFF6E5;border-radius: 4px;display: inline-block;"
                              href="https://staging.paytmmall.com/shop/nps-feedback?utm_source=order&utm_medium=email&utm_campaign=nps&orderid={{= order_id }}&category=npsFeedback-marketplace&items={{=item_id}}&event_id={{=parsedItems[0].status}}&vertical_id={{=parsedItems[0].vertical_id}}&site_id={{=site_id}}&customer_id={{=customer_id}}&src=email&response=7"><span
                                style="font-size:14px;display:block;text-align:center;color:#ffa400; font-weight: bold; line-height: 2.3;">7</span></a>
                          </div>
                        </td>
                        <td align="center" valign="top">
                          <div style="width:30%; float:left; text-align:center;margin-left: 5px;"> <a style="text-decoration:none;width: 28.91px;
                            height: 32px;background: #FFF6E5;
                            border-radius: 4px;display: inline-block;"
                              href="https://staging.paytmmall.com/shop/nps-feedback?utm_source=order&utm_medium=email&utm_campaign=nps&orderid={{= order_id }}&category=npsFeedback-marketplace&items={{=item_id}}&event_id={{=parsedItems[0].status}}&vertical_id={{=parsedItems[0].vertical_id}}&site_id={{=site_id}}&customer_id={{=customer_id}}&src=email&response=8"><span
                                style="font-size:14px;display:block;text-align:center;color:#ffa400; font-weight: bold; line-height: 2.3;">8</span></a>
                          </div>
                        </td>
                        <td align="center" valign="top">
                          <div style="width:30%; float:left; text-align:center;margin-left: 5px;"> <a style="text-decoration:none;width: 28.91px;
                            height: 32px;background: #E9F9F2;
                            border-radius: 4px;display: block;"
                              href="https://staging.paytmmall.com/shop/nps-feedback?utm_source=order&utm_medium=email&utm_campaign=nps&orderid={{= order_id }}&category=npsFeedback-marketplace&items={{=item_id}}&event_id={{=parsedItems[0].status}}&vertical_id={{=parsedItems[0].vertical_id}}&site_id={{=site_id}}&customer_id={{=customer_id}}&src=email&response=9"><span
                                style="font-size:14px;display:block;text-align:center;color:#21C17A;; font-weight: bold; line-height: 2.3;">9</span></a>
                          </div>
                        </td>
                        <td align="center" valign="top">
                          <div style="width:30%; float:left; text-align:center;margin-left: 5px;"> <a style="text-decoration:none;width: 28.91px;
                            height: 32px;background: #E9F9F2;
                            border-radius: 4px;display: block;"
                              href="https://staging.paytmmall.com/shop/nps-feedback?utm_source=order&utm_medium=email&utm_campaign=nps&orderid={{= order_id }}&category=npsFeedback-marketplace&items={{=item_id}}&event_id={{=parsedItems[0].status}}&vertical_id={{=parsedItems[0].vertical_id}}&site_id={{=site_id}}&customer_id={{=customer_id}}&src=email&response=10"><span
                                style="font-size:14px;display:block;text-align:center;color:#21C17A;; font-weight: bold; line-height: 2.3;">10</span></a>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <table style="width: 100%;" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td style="font-size:12px; color:#8ba6c1; padding-top:10px;text-align:left;width: 12px">
                          <img src="https://d274ft55l0imju.cloudfront.net/hotels_app_img/thumbs_down.png"
                            style="margin-right: 6px; margin-top: 2px; line-height: 2.1" /></td>
                        <td style="font-size:12px; color:#8ba6c1; padding-top:10px;text-align:left; width:50%;">
                          Not at all likely</td>
                        <td style="font-size:12px; color:#8BA6C1; padding-top:7px; float:right;width: 12px">
                          <img src="https://d274ft55l0imju.cloudfront.net/hotels_app_img/thumbs_up.png"
                            style="margin-left: 6px; margin-top: 2px; line-height: 2.1;" /></td>
                        <td style="font-size:12px; color:#8BA6C1; padding-top:10px;float:right;">
                          Extremely likely</td>
                      </tr>

                    </table>
                  </td>
                </tr>
              </table>

              <table style="background-color: #fff; padding: 16px; width: 100%; margin-top: 10px">
                {{for (var i = 0; i < parsedItems.length; i++ ) { }}
                <tr>
                  <td>
                    <table style="width:100%;">
                      <tr>
                        <td style="vertical-align: top; width: 81px; text-align: center;">
                          <img src={{=parsedItems[i].img_url}} alt="bedsheet"
                            style="max-width:78px;height:78px;border-radius: 5px;margin-right: 16px;" />
                        </td>
                        <td>
                          <table style="width: 100%;">
                            <tr>
                              <td
                                style="width: 232px;font-size: 14px;font-weight: 500;line-height: 1.43;color: #1d2f54;">
                                {{=parsedItems[i].name}}</td>
                            </tr>
                            <tr>
                              <td style="font-size: 12px;font-weight: 500;line-height: 16px;color: #506D85;">
                                {{ if(parsedItems[i].product_color && parsedItems[i].product_color !== null) { }}
                                <span>Color: {{= parsedItems[i].product_color }},<span>
                                    {{ } }}
                                    {{ if(parsedItems[i].product_size && parsedItems[i].product_size !== null) { }}
                                    <span>Size: {{= parsedItems[i].product_size }}</span>
                                    {{ } }}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <table>
                                  <tr>
                                    <td style="font-size: 14px;font-weight: bold;color: #fd5154;">
                                      <div style="margin-right: 5px;"> ₹ {{=numberWithCommas(parsedItems[i].selling_price)}} </div>
                                    </td>
                                    <td
                                      style="font-size: 12px;font-weight: 500;color: #8ba6c1;text-decoration: line-through;">
                                      <div style="margin-right: 5px;"> ₹{{=numberWithCommas(parsedItems[i].mrp)}}</div>
                                    </td>
                                    <td style="font-size: 12px;font-weight: bold;color: #21c17a;">
                                      <div style="margin-right: 5px;">{{= parseInt(Number(((parsedItems[i].mrp - parsedItems[i].selling_price) / parsedItems[i].mrp) * 100)) }} % Off
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      {{ } }}
                    </table>
                  </td>
                </tr>
              </table>

              <table style="            
              background: #FFFFFF;
              width: 100%;
              border-radius: 4px;
              margin-top: 15px;
              padding: 24px;">
                <tr>
                  <td>
                    <div style="font-size: 16px;
                    line-height: 24px;                    
                    letter-spacing: 0.4px;
                    color: #1D2F54; font-weight: bold;">Refund Summary</div>
                  </td>
                </tr>
                <tr>
                  <td style="width: 60%; font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                  letter-spacing: 0.4px;                  
                  color: #506D85; padding-top: 16px">
                    <div>Amount Paid</div>
                  </td>
                  <td style="font-weight: 500; padding-top: 16px;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: right;
                    letter-spacing: 0.4px;                    
                    color: #506D85;">₹{{= numberWithCommas(refund_amount)  }}
                  </td>
                </tr>
                <tr>
                  <td style="width: 60%; font-weight: normal;
                  font-size: 12px;
                  line-height: 20px;
                  letter-spacing: 0.4px;                  
                  color: #506D85;; padding: 10px 0 0 10px">
                    <div>Item Price</div>
                  </td>
                  <td style="font-weight: normal; padding: 10px 10px 0;
                    font-size: 12px;
                    line-height: 20px;
                    text-align: right;
                    letter-spacing: 0.4px;                    
                    color:#506D85;;">₹{{= parsedItems[0].price ? numberWithCommas(parsedItems[0].price) : ''  }}
                  </td>
                </tr>
                <tr>
                  <td style="width: 60%; font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                  letter-spacing: 0.4px;                  
                  color: #506D85; padding-top: 10px">
                    <div>Total Refund</div>
                  </td>
                  <td style="font-weight: 500; padding-top: 10px;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: right;
                    letter-spacing: 0.4px;                    
                    color: #506D85;">₹{{= numberWithCommas(refund_amount) }}
                  </td>
                </tr>
                {{ if(cashback) { }}
                <tr>
                  <td style="width: 60%; font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                  letter-spacing: 0.4px;                  
                  color: #506D85; padding-top: 10px">
                    <div>Cashback Availed</div>
                  </td>
                  <td style="font-weight: 500; padding-top: 10px;
                    letter-spacing: 0.4px;                    
                    color: #506D85;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: right;
                    color: #FD5154;
                    ">- ₹{{= cashback }}
                  </td>
                </tr>
                {{ } }}
                <tr>
                  <td style="width: 60%; font-weight: bold;
                  font-size: 14px;
                  line-height: 20px;                  
                  color: #1D2F54;
                  vertical-align: middle;
                  padding-top: 14px;
                  ">
                    <div>Net Refund Applicable</div>
                  </td>
                  <td style="vertical-align: middle; font-weight: 500;
                    font-weight: bold;
                    font-size: 14px;
                    padding-top: 14px;
                    line-height: 20px;
                    text-align: right;
                    color: #1D2F54;">₹{{= numberWithCommas(refund_amount) }}
                  </td>
                </tr>
                {{ if (hasBankDetails || hasWalletDetails) { }}
                <tr>
                  <td>
                    <div style="font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;                    
                    letter-spacing: 0.4px;
                    padding-top: 20px;  
                    color: #1D2F54">Refunded to</div>
                  </td>
                </tr>
                {{ } }}
                {{
                  var payment_icon = "https://i.ibb.co/w0dY4PH/Screenshot-2020-09-25-at-6-24-21-PM.png";
                  for(var i = 0; i < payments_info.length; i++)
                 {
                   if(payments_info[i].payment_bank == "WALLET") {
                      payment_icon = "https://d274ft55l0imju.cloudfront.net/hotels_app_img/ay-wallet-icon.png";
                    }
                  var hasBankDetails = false;
                  if (payments_info[i].transaction_response && Object.keys(JSON.parse(payments_info[i].transaction_response)).length) {
                    var transactionResponse = JSON.parse(payments_info[i].transaction_response);
                    var rrn = transactionResponse.refundDetailInfoList ? transactionResponse.refundDetailInfoList[0].rrn : '';
                    hasBankDetails = !!transactionResponse.refundDetailInfoList;
                  }
                if (payments_info[i].payment_bank == "WALLET" || hasBankDetails) { }}
                <tr>
                  <td><img alt="bank-icon" border="0" src={{= payment_icon}}
                      style="width: 22px; float: left;  margin-top: 16px;" />
                    <div style="font-weight: 500;
                                      font-size: 14px;
                                      line-height: 20px;                                      
                                      display: flex;
                                      margin-top: 18px;
                                      margin-left: 30px;
                                      width: max-content;
                                      letter-spacing: 0.4px;
                                      color: #1D252D;
                                      ">
                      <div><span>{{= hasBankDetails ? transactionResponse.refundDetailInfoList[0].issuingBankName : payments_info[i].payment_bank }}</span></div>
                    </div>
                  </td>
                  <td style="font-size: 14px;font-weight: bold;float: right;">
                    <div style="margin-top: 18px;
                                      margin-left: 30px;">₹{{= payments_info[i].pg_amount ? numberWithCommas(payments_info[i].pg_amount) : '' }}</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="font-size: 12px;
																line-height: 16px;
																margin: 4px 0 0 32px;
																color: #506D85;
																width: 100%;
																">
                      Refund Expected Date : {{= refund_expected_date ? refund_expected_date : '' }}
                    </div>
                    
                    <div style="font-size: 12px;
                                line-height: 16px;
                                margin: 4px 0 0 32px;
                                color: #506D85;">
                      RRN No : {{= rrn ? rrn : '' }}
                    </div>
                  </td>
                </tr>
                {{ } } }}
              </table>

              <table style=" background: #FFFFFF;
              width: 100%;
              border-radius: 4px;
              margin-top: 15px;
              padding: 24px;">
                <tr>
                  <td>
                    <div style="font-size: 16px;
              line-height: 24px; 
              letter-spacing: 0.4px;
              color: #1D2F54;
              font-weight: bold;">
                      Delivered to
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="font-weight: 500;
              font-size: 14px;
              line-height: 20px; 
              letter-spacing: 0.4px; 
              color: #1D2F54">{{=customer_name.split(' ')[0]}}'s House
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="font-size: 14px;
                      line-height: 16px;
                      color: #506D85;">
                      <span>{{= address_line1 }}{{if (address_line2) { }}, {{= address_line2 }}
                        {{ } }}</span><br /><span>{{= city }},
                        {{= state }}</span><br /> <span>{{= pincode}}</span>
                    </div>
                  </td>
                </tr>
              </table>

              <table>
                <tr>
                  <img src='https://d274ft55l0imju.cloudfront.net/hotels_app_img/Txn_Banner_375_195.png' />
                </tr>
              </table>


              <table style=" background: #FFFFFF;
                width: 100%;
                border-radius: 4px;
                margin-top: 15px;
                padding: 17px 24px;
                margin-bottom: 20px;">
                <tr>
                  <td style="text-align: right;">
                    <a href="https://paytmmall.com/myorders/{{=order_id}}" style="
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #00B9F5; float: left; text-decoration: none;">
                      View Order Summary
                    </a>
                  </td>
                  <td style="text-align: right">
                    <img src="https://d274ft55l0imju.cloudfront.net/hotels_app_img/emailarrow.png" alt="Arrow" />
                  </td>
                </tr>
              </table>

              <table style=" background: #FFFFFF;
                width: 100%;
                border-radius: 4px;
                margin-top: 15px;
                padding: 17px 24px;
                margin-bottom: 20px;">
                <tr>
                  <td>
                    <div style="display: flex; align-self: center; justify-content: space-between; ">
                      <a href="need help deep link" style="
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #00B9F5; float: left; text-decoration: none;">
                        Need Help?
                      </a>
                    </div>
                  </td>
                  <td style="text-align: right;">
                    <img src="https://d274ft55l0imju.cloudfront.net/hotels_app_img/emailarrow.png" alt="Arrow" />
                  </td>
                </tr>
              </table>

              <table style="background:none">
                <tr>
                  <td align="center" style="background-color: none; padding: 0 15px">
                    <div style="font-size: 10px;line-height: 1.4;color: #8ba6c1;text-align: center;">
                      Never Share your Card number, CVV, PIN, OTP, or
                      Passcode with anyone, even if the caller claims to be a bank employee.
                      Sharing these details can lead to unauthorised access to your account.
                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <div>
                      <div style="width: 100%;height: 6px;background-color: #00b9f5;"></div>
                      <div style="width: 100%;height: 6px;background-color: #07448e;"></div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>