<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Shipped</title>
</head>

<body style="background-color:#F5F8FA;font-family: sans-serif;margin:0;padding: 0;width: 100%;">
  <table style="margin:0px; width: 100%;">
    <tr>
      <td style="border-collapse: collapse;" align="center">
        <table
          style="width: 100%;background-color: #fff; margin: 16px;border-collapse: collapse;display: table-cell;border-radius: 4px; min-width: 375px; max-width:400px;">
          <tr style="min-height: 154px; width: 100%;">
            <td>
              <table style="width: 100%;padding: 20px; background-color: #E9F9F2;">
                <tr style="background-color: #E9F9F2;">
                  <td style="width: 50%">
                    <img src="https://d274ft55l0imju.cloudfront.net/hotels_app_img/s_group_7365_1.png" alt="shipped"
                      style="height: 154px;" />
                  </td>
                  <td style="width: 50%">
                    <table style="width: 100%; margin-top: 20px;">
                      <tr>
                        <td style="float: right;">
                          <img src="https://assetscdn.paytm.com/paytmmall/mailer2017/paytmmall_logo.png"
                            alt="paytm logo" style="height: 50px;" />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table style="width: 100%;text-align: right; margin-top: 20px;">
                            <tr>
                              <td style="font-size: 12px;font-weight: normal;line-height: 1.42;color: #506d85;">
                                Order Placed On
                                <br />
                                <span style="font-weight: bold;">{{= order_placed_at }}</span>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table style="width: 100%;text-align: right;">
                            <tr>
                              <td style="font-size: 12px;font-weight: normal;line-height: 1.42;color: #506d85;">Order ID
                                #{{=order_id }}</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="background-color: #F5F8FA;" colspan="2">
              <table style="background-color: #fff; padding: 24px; width: 100%">
                <tr>
                  <td
                    style="font-size: 14px; letter-spacing: 0.2px; font-size: 14px;font-weight: 500;color: #506D85;line-height: 20px;">
                    <div>Dear {{=customer_name}},</div>
                  </td>
                </tr>
                <tr>
                  <td
                    style="padding-top: 8px; font-size: 20px; margin-top: 8px; letter-spacing: 0.4px; font-weight: bold;color:#1D2F54;line-height: 32px;">
                    <div>Your order has been shipped</div>
                  </td>
                </tr>

                <tr>
                  <td style="font-size: 16px; margin-top: 8px; letter-spacing: 0.4px; color:#1D2F54;line-height: 32px;">
                    <div style="font-size: 16px;line-height: 24px;letter-spacing: 0.2px;color: #1D2F54;">
                      You will get it by <span style="font-weight: bold;">{{= formatted_estimated_delivery }}</span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td style="font-size: 16px;
                    line-height: 24px; 
                    letter-spacing: 0.2px; 
                    color: #1D2F54;">
                    <div style="margin-bottom: 10px;"></div>
                  </td>
                </tr>

                {{ if(secure_delivery_code && secure_delivery_code.length > 0) { }}
                <tr>
                  <td style="text-align: center; background: #FFFFFF;                  
                  border: 2px dashed #E8EDF3;
                  border-radius: 5.2093px;
                  width: 100%;
                  height: 46px;
                  margin: 0 auto;
                  margin-top: 16px;
                  border-radius: 8px;
                  height: 48px;">

                    <a style="
                      font-size: 14px;
                      line-height: 20px;
                      text-align: center;
                      letter-spacing: 0.4px;
                      ">
                      <span style="color:#506D85; font-size: 14px;
                      line-height: 24px;">Delivery OTP:</span> <span
                        style="color: #1D2F54; font-size: 20px;font-weight: bold;">{{=secure_delivery_code}}</span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 12px;
                  line-height: 16px;                  
                  color: #506D85;
                  text-align: center;
                  padding-top: 8px;
                  ">
                    <div style="margin-bottom: 10px; letter-spacing: 0.2px;">Share this OTP with our courier partner for
                      secure delivery.</div>
                  </td>
                </tr>
                {{ } }}
                {{ var parsedItems = JSON.parse(items);
                  for (var i = 0; i < parsedItems.length; i++ ) { }}
                <tr>
                  <td>
                    <table
                      style="margin:24px 24px 16px 24px; width:100%; border-bottom: 1px solid #E8EDF3; border-radius: 8px; padding-bottom: 22px">
                      <tr>
                        <td style="vertical-align: top; width: 101px;">
                          <img src={{=parsedItems[i].product_image}} alt="bedsheet"
                            style="max-width:78px;height:78px;border-radius: 5px;margin-right: 16px;" />
                        </td>
                        <td>
                          <table style="width: 100%;">
                            <tr>
                              <td
                                style="width: 232px;font-size: 14px;font-weight: 500;line-height: 1.43;color: #1d2f54;">
                                {{=parsedItems[i].name}}</td>
                            </tr>
                            <tr>
                              <td style="font-size: 12px;font-weight: 500;line-height: 16px;color: #506D85;">
                                {{ if(parsedItems[i].product_color && parsedItems[i].product_color !== null) { }}
                                  <span>Color: {{= parsedItems[i].product_color }},</span>
                                {{ } }}
                                {{ if(parsedItems[i].product_size && parsedItems[i].product_size !== null) { }}
                                  <span>Size: {{= parsedItems[i].product_size }}</span>
                                {{ } }}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <table>
                                  <tr>
                                    <td style="font-size: 14px;font-weight: bold;color: #fd5154;">
                                      <div style="margin-right: 5px;"> ₹ {{=parsedItems[i].selling_price}} </div>
                                    </td>
                                    <td
                                      style="font-size: 12px;font-weight: 500;color: #8ba6c1;text-decoration: line-through;">
                                      <div style="margin-right: 5px;"> ₹{{=parsedItems[i].mrp}}</div>
                                    </td>
                                    <td style="font-size: 12px;font-weight: bold;color: #21c17a;">
                                      <div style="margin-right: 5px;">{{=parsedItems[i].discount_percentage}} % Off
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                {{ } }}
                <tr>
                  <td style="font-size: 12px;
                  line-height: 16px;                  
                  color: #506D85;
                  text-align: center;
                  padding: 9px 0 0;
                  ">
                    <div style="margin-bottom: 10px; letter-spacing: 0.2px;">{{=courier_name}} Tracking number:
                      {{=tracking_number}}</div>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center; vertical-align: middle; " valign="top">
                    <div style="
                    background: #FFFFFF;                  
                    border: 1px solid #00B9F5;
                    border-radius: 5.2093px;
                    width: 312px;
                    height: 46px;
                    margin: 0 auto;
                    vertical-align: middle;
                    ">
                      <div style="padding: 12px 0">
                        <a href="https://m.paytm.me/itd?od={{= order_id }}" style="font-weight: bold; font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                        letter-spacing: 0.4px;
                        color: #00B9F5; text-decoration: none;
                        margin-top: 16px;
                      ">
                          Track Order
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <table style=" background: #FFFFFF;
                width: 100%;
                border-radius: 4px;
                margin-top: 15px;
                padding: 24px;">
                <tr>
                  <td>
                    <div style="font-size: 16px;
                      line-height: 24px; 
                      letter-spacing: 0.4px;
                      color: #1D2F54;
                      font-weight: bold;">
                      Delivering to
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="font-weight: 500;
                      font-size: 14px;
                      line-height: 20px; 
                      letter-spacing: 0.4px; 
                      color: #1D2F54">{{=customer_name.split()[0]}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="font-size: 12px;
                      line-height: 16px;
                      color: #506D85;">
                        <span>{{= address_line1 }}{{if (address_line2) { }}, {{= address_line2 }}
                        {{ } }}</span><br /><span>{{= city }},
                        {{= state }}</span><br /> <span>{{= pincode}}</span>
                    </div>
                  </td>
                </tr>
              </table>
              
              <table>
                <tr>
                  <img src='https://d274ft55l0imju.cloudfront.net/hotels_app_img/Txn_Banner_375_195.png' />
                </tr>
              </table>


              <table style=" background: #FFFFFF;
                width: 100%;
                border-radius: 4px;
                margin-top: 15px;
                padding: 17px 24px; 
                margin-bottom: 20px;">
                <tr>
                  <td>
                    <div style="display: flex; align-self: center; justify-content: space-between; ">
                      <a href="https://paytmmall.com/care/ticket" style="
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #00B9F5; float: left; text-decoration: none;">
                        Need Help?
                      </a>
                    </div>
                  </td>
                  <td style="text-align: right;">
                    <img src="https://d274ft55l0imju.cloudfront.net/hotels_app_img/emailarrow.png" alt="Arrow" />
                  </td>
                </tr>
              </table>

              <table style="background:none">
                <tr>
                  <td align="center" style="background-color: none; padding: 0 15px">
                    <div style="font-size: 10px;line-height: 1.4;color: #8ba6c1;text-align: center;">
                      Never Share your Card number, CVV, PIN, OTP, or
                      Passcode with anyone, even if the caller claims to be a bank employee.
                      Sharing these details can lead to unauthorised access to your account.
                    </div>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <div>
                      <div style="width: 100%;height: 6px;background-color: #00b9f5;"></div>
                      <div style="width: 100%;height: 6px;background-color: #07448e;"></div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>